@media only screen and (max-width: 700px){
    //text
  
    //nav
    .nav-bar{
        width:100%;
        margin:none;
    }
    .container{
        width:100%;
        padding:2px;
        margin:none;
        grid-template-columns: 'about' 'about';
    }
    .primary-text,.primary-text2{
        font-size: 0.8rem;
    }

    //profiles
    .first-div{
        text-align: center;
        

        .primary-text{
        font-size:0.8rem;
        padding:none;
        text-align:center;
        margin-bottom:2px;
        }
    #word{
        font-size:0.2rem;
    }
    }
    .second-div{
        padding: -0.8rem;
        text-align: end;
        justify-content: end;
        justify-items: end;
    }
    .profit{
        display:none;
    }
    .about-container{
  display:grid;
  grid-template-areas:1fr;
  width:90%;
  background: #fff;
  margin-right:5%;
  margin-left:5%;
  grid-gap:1px;
  text-align: center;
  padding: 30px;
  :last-child{
    border-bottom: none;
  }
}
}